extends layout

block content
    h1=title
    if isZoom
        p Leave Naptime open on the side, close your eyes, and we'll take care of the rest!
    else
        p You're viewing our app through the browser.&nbsp;
            a(href=`/install`) Click Here
            | &nbsp;to install Naptime in Zoom!

append scripts
    if isZoom
        script(type="module" src='/js/bundle.mjs')
        script(nomodule src='/js/bundle.js')

